.set-size{
  height: 420px;
}

.venue-fit{
  height: 350px;
  position: relative;
  overflow: hidden;
}
.img-text{
  opacity: 0.9;
}

/* css for extra small devices*/
@media (max-width: 576px){
h1,h2{
  font-size: 20px;
}
.set-gallery{
  width: 300px;
  margin: auto;

}
/* to set size of carousel*/
.set-size{
height: 200px;
}
.venue-fit{
  height:200px;
}

}