  <div class="container"> 
    <form class="col-md-6 mx-auto mb-4">
      <div class="input-group mt-5">
        <input type="text" id="venueTitle" class="form-control"  placeholder="Search venue..." name="venueTitle" #name>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" (click)=search(name.value)> <i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <ul class="set-filter inline-list">
     <li *ngFor= "let filter of filters; let i= index" class="set-filterli">
      <span class="badge badge-secondary">{{filter}} <a (click)="remove(i)"><i class="fa fa-window-close" aria-hidden="true"></i></a></span>
    </li>
  </ul>
  <div class="row mt-3">
    <div class="col-md-2 col-sm-3 list-set">
      <input class="form-control mt-5 guest" id="myInput" type="text" placeholder="Search City.."  #city (keyup.enter)="searchCity(city.value)">
      <br>
      <ul class="list-group text-center set-ul" id="myList">
        <li><a class="list-group-item" *ngFor="let city of cities" (click)="searchCity(city.name)">{{city.name}}</a></li>
      </ul> 
      <ul class="list-group mt-5 text-center set-ul" id="typeList">
        <li class="list-group-item list-group-item-primary">Select by Type</li>
        <a class="list-group-item" *ngFor="let venuetype of Venuetypes" (click)="searchVenueType(venuetype.name)">{{venuetype.name}}</a>
      </ul>   
    </div>
    <div class="col-md-10 col-sm-9 mR15">
      <div class="container pb-4 mt-5">
        <div class="row">
          <div class="col-md-4 col-sm-6 mr-0 pr-0" *ngFor="let item of venue">
            <div class="card" >
              <img class="img-fluid" [attr.src]="imageUrl+item.venue_image" alt="{{item.venueName}} image not found">
              <div class="card-body">
                <h6 class="card-title">{{item.venueName}}<span class="float-right bg-warning">{{item.venue_rating}}<i class="fa fa-star"></i></span></h6>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>  {{item.location}}</p>
                <p class="card-text">City: {{item.city}}</p>
                <p class="card-text">Type: {{item.type}}<span class="float-right">Guests:</span></p>
                <p class="card-text">Price/Plate: <i class="fas fa-rupee-sign"></i> {{item.price}}<span class="float-right guest"><i class="fa fa-users"></i>&nbsp;{{item.capacity}}</span></p>
                <a href="#" class="btn btn-primary btn-sm fix-btn" data-toggle="modal" data-target="#exampleModalCenter">Enquiry</a>
                <a href="#" class="btn btn-primary btn-sm fix-btn" data-toggle="modal" data-target="#booking" (click)="send(item.id)" >Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for enquiry-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Enquiry Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <form> 
          <input class="form-control mb-3" type="text" name="name" placeholder="Enter your Name" [(ngModel)]="enquiry.name">
          <input class="form-control mb-3" type="text" name="emailId" placeholder="Enter your EmailId" [(ngModel)]="enquiry.emailId">
          <input class="form-control mb-3" type="text" name="contactNo" placeholder="Enter your contactNo" [(ngModel)]="enquiry.contactNo">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="enquirydetails(enquiry)">Submitt</button>
      </div>
    </div>
  </div>
</div> 
<!-- Modal ends here -->

<!-- Modal for Booking -->
<div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Booking Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form> 
          <input class="form-control mb-3" type="text" name="name" placeholder="Enter your Name">
          <input class="form-control mb-3" [(ngModel)]="booking.emailId" type="email" name="emailId" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter your EmailId" #emailId='ngModel'>
          <input class="form-control mb-3" [(ngModel)]="booking.contactNo" type="phone" name="contactNo" required pattern="^[2-9]{1}[0-9]{9}$" placeholder="Enter your contactNo" #contactNo='ngModel'>
          <input class="form-control mb-3" [(ngModel)]="booking.date" type="date" name="date" #date='ngModel'>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit(booking)">Book Now</button>
      </div>
    </div>
  </div>
</div> 
<!-- Modal ends here -->