  <div class="container">  
     <div class="row">
        <div class="col-md-6">
          <form class="contact">
            <h3>Venue Form</h3>
            <h4>* All fields are Mandatory</h4>
            <fieldset>
              <input placeholder="Enter Venue Name" [(ngModel)]="updateData.venueName" type="text" name="venueName" required>
          </fieldset>
          <fieldset>
              <input placeholder="Enter Venue Location" [(ngModel)]="updateData.location" type="text" name="location" required>
          </fieldset>
          <fieldset>
              <input placeholder="Enter City" [(ngModel)]="updateData.city" type="text" name="city" required>
          </fieldset>
          <fieldset>
              <input placeholder="Enter Venue Price" [(ngModel)]="updateData.price" type="text" name="price" required>
          </fieldset>
          <fieldset>
              <input placeholder="Enter Capacity of venue" [(ngModel)]="updateData.capacity" type="text" name="capacity" required>
          </fieldset>
          <fieldset>
              <input placeholder="Enter Rating of venue" [(ngModel)]="updateData.venue_rating" type="text" name="capacity" required>
          </fieldset>
          Select type&nbsp;&nbsp;<select class="selectpicker" [(ngModel)]="updateData.type" name="type">
              <option>Banquet Hall</option>
              <option>Party Lounge</option>
              <option>Farm House</option>
              <option>Hotel</option>
          </select>
          <fieldset>
              <h4>File Upload</h4>
              <input type="file" (change)=onFileSelected($event) >
              <button class="submit" (click)="upload()">upload</button>
          </fieldset>
          <fieldset>
              <button name="submit" type="submit"  id="submit" (click)="onSubmit(updateData)">Submit</button>
          </fieldset>
      </form>
  </div>
  <div class="col-md-6">
      <form class="contact">
        <h3>Catering Form</h3>
        <h4>* All fields are Mandatory</h4>
        <fieldset>
          <input placeholder="Enter Catering Provider Name" [(ngModel)]="updateCatering.cateringProvider" type="text" name="cateringProvider" required>
      </fieldset>
      <fieldset>
          <input placeholder="Enter Location of Catering Provider" [(ngModel)]="updateCatering.location" type="text" name="location" required>
      </fieldset>
      <fieldset>
          <input placeholder="Enter Rating of Provider" [(ngModel)]="updateCatering.rating" type="text" name="rating" required>
      </fieldset>
      <fieldset>
          <input placeholder="Enter ContactNo of Catering Provider" [(ngModel)]="updateCatering.contactNo" type="text" name="contactNo" required>
      </fieldset>
      <fieldset>
          <input placeholder="Enter Charges of Catering Provider" [(ngModel)]="updateCatering.price" type="text" name="price" required>
        </fieldset>
          <fieldset>
            <!-- <textarea class="form-control" rows="5" id="comment"></textarea> -->
            <input placeholder="Enter Description of Catering Provider" [(ngModel)]="updateCatering.description" type="text" name="description" required>
        </fieldset>
        <fieldset>
            <h4>File Upload</h4>
            <input type="file" (change)=onFileSelected($event) >
            <button class="submit" (click)="upload()">upload</button>
        </fieldset>
      <button name="submit" type="submit"  (click)="onClick(updateCatering)">Submit</button>
    </form>
</div>
</div>
</div>

