  <div class="container">  
   <div class="row">
    <div class="col-md-6">
      <form class="contact">
        <h3>Venue Form</h3>
        <h4>* All fields are Mandatory</h4>
        <fieldset>
          <input placeholder="Enter Venue Name" [(ngModel)]="updateData.venueName" type="text" name="venueName" required>
        </fieldset>
        <fieldset>
          <input placeholder="Enter Venue Location" [(ngModel)]="updateData.location" type="text" name="location" required>
        </fieldset>
        <fieldset>
          <input placeholder="Enter City" [(ngModel)]="updateData.city" type="text" name="city" required>
        </fieldset>
        <fieldset>
          <input placeholder="Enter Venue Price" [(ngModel)]="updateData.price" type="text" name="price" required>
        </fieldset>
        <fieldset>
          <h4>File Upload</h4>
          <input type="file" (change)=onFileSelected($event) >
          <button class="submit" (click)="upload()">upload</button>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit"  id="submit" (click)="onSubmit(updateData)">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="col-md-6">
      <form class="contact">
        <h3>Catering Form</h3>
        <h4>* All fields are Mandatory</h4>
        <fieldset>
          <input placeholder="Enter Venue Name" [(ngModel)]="updateData.venueName" type="text" name="venueName" required>
        </fieldset>
        <fieldset>
          <input placeholder="Enter Venue Location" [(ngModel)]="updateData.location" type="text" name="location" required>
        </fieldset>
        <fieldset>
          <input placeholder="Enter City" [(ngModel)]="updateData.city" type="text" name="city" required>
        </fieldset>
        <fieldset>
          <input placeholder="Enter Venue Price" [(ngModel)]="updateData.price" type="text" name="price" required>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" >Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
